@font-face {
  font-family: Light;
  src: url(../../assets/fonts/MPLUS1p-Light.ttf);
}

@font-face {
  font-family: Medium;
  src: url(../../assets/fonts/MPLUS1p-Medium.ttf);
}

@font-face {
  font-family: myFirstFont;
  src: url(../../assets/fonts/MPLUS1p-Regular.ttf);
}

@font-face {
  font-family: myFirstFontSkinny;
  src: url(../../assets/fonts/MPLUS1p-Thin.ttf);
}

@font-face {
  font-family: ubuntuLight;
  src: url(../../assets/fonts/Ubuntu/Ubuntu-Light.ttf);
}

@font-face {
  font-family: ubuntuRegular;
  src: url(../../assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

#sectionheading {
  font-family: Light !important;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

h2,
h3 {
  font-family: "myFirstFontSkinny", serif !important;
}

h4 {
  font-family: "myFirstFont", serif !important;
}

.list-inline-item a:hover {
  color: #004AAD !important;
}

#mainNav .navbar-nav > li > a.active {
  color: dimgrey !important;
}

.feature-item i {
  background-image: linear-gradient(to left, #004AAD, #004AAD) !important;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-color: initial;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in 3s;
  transition: all 0.5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #fff;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white !important;
  border-width: 0 0 2px 2px !important;
}

#mainNav .navbar-nav > li > a {
  font-size: 15px;
  font-family: ubuntuRegular, serif;
  letter-spacing: 2px;
  text-transform: initial !important;
}

@media screen and (max-width: 600px) {
  section h2 {
    font-size: 20px !important;
  }

  h4 {
    font-size: 15px !important;
  }
}

.img-fluid {
  padding: 30px;
}

.nav-link:hover {
  color: dimgrey !important;
}

.nav-link {
  color: white !important;
}

.lead {
  font-family: ubuntuRegular !important;
}

.feature-item p {
  font-family: ubuntuLight !important;
}

section {
  padding: 50px 0;
}
